@import "variables";

.footer {
  padding: 5vh 5vw;
  background: $c-dark-gray;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;

  h4 {
    font-weight: 900;
    font-size: 22px;
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .time, .disclaimer {
    text-align: center;
  }

  .disclaimer {
    margin-top: 1em;
  }
}
