.footer {
  padding: 5vh 5vw;

  h4 {
    font-weight: 900;
    font-size: 22px;
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .time, .disclaimer {
    text-align: center;
  }

  .disclaimer {
    margin-top: 1em;
  }
}
