<div fxLayout fxLayoutAlign="space-evenly" class="footer"
  fxLayout.xs="column" fxLayoutGap.xs="5vw"
>
  <div fxFlex style="text-align: center;">
    <h4>ADDRESS:</h4>
    <div>50 State Route 183</div>
    <div>Netcong, NJ 07857</div>
  </div>

  <div fxFlex style="text-align: center">
    <h4>CONTACT</h4>
    <div>973-527-7887</div>
    <div>polosbarandgrill@gmail.com</div>
  </div>

  <div fxFlex>
    <h4>HOURS:</h4>
    <div gdColumns="auto auto" gdRows="auto!" gdAlignRows="center" gdGap="5px 20px">
      <div class="day">Sunday:</div>
      <div class="time">11 AM - Late</div>
      <div class="day">Monday:</div>
      <div class="time">CLOSED</div>
      <div class="day">Tuesday:</div>
      <div class="time">11 AM - Late</div>
      <div class="day">Wednesday:</div>
      <div class="time">11 AM - Late</div>
      <div class="day">Thursday:</div>
      <div class="time">11 AM - Late</div>
      <div class="day">Friday:</div>
      <div class="time">11 AM - Late</div>
      <div class="day">Saturday:</div>
      <div class="time">11 AM - Late</div>
    </div>
    <div class="disclaimer" style="text-align: center;">*Closing times vary, please call in advance</div>
  </div>
</div>
