<div class="banner">
  <div class="banner-content">
    <h1>FOR PICKUP & DELIVERY</h1>

    <!--<button class="btn">CALL NOW</button>-->
    <!--<button class="btn">ORDER WITH DOORDASH</button>-->
  </div>
</div>

<div class="order-methods" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5vw" fxLayout.xs="column">
  <div fxFlex.gt-xs="0 1 300px" class="phone-order">
    <h2>To place orders call:</h2>
    <h3>973-527-7887</h3>
    <div>*All orders can be paid by credit card over the phone*</div>
  </div>

  <h2>OR</h2>

  <a class="doordash-order" href="https://www.doordash.com/business/253695/?utm_source=partner-link&utm_medium=website&utm_campaign=253695&utm_content=red-xl" target="_blank"
     alt="Order Food Delivery with DoorDash" title="Order Food Delivery with DoorDash" style="text-decoration: none">
    <div style="position: relative; width:268px; height:118px; margin: 0px auto; background-image: url(https://cdn.doordash.com/media/button/button_red_xl.svg); color:transparent">
      Order Food Delivery with DoorDash
    </div>
  </a>
</div>
