.banner {
  background-image: url('https://cdn.usarestaurants.info/assets/uploads/7b2a309152a4e9d27fc52d8a942fd559_-united-states-new-jersey-morris-county-netcong-535566-polos-bar-grillhtm.jpg');
}

.order-methods {
  padding: 5vw 5vw;
  text-align: center;
}
