<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true">

    <div class="nav-close" fxLayoutAlign="flex-end" (click)="sidenav.close()">
      <div class="icon" inlineSVG="/assets/close.svg"></div>
    </div>

    <div class="nav" fxLayout="column" fxLayoutGap="30px" (click)="sidenav.close()">
      <a class="nav-item" *ngFor="let navItem of NAV_ITEMS"
         [routerLink]="navItem.url" routerLinkActive="active"
         [queryParams]="navItem.queryParams"
         [routerLinkActiveOptions]="{exact: true}">{{navItem.label}}</a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="position: relative;">

    <div id="scroll-to-top-detector"></div>

    <app-navbar (toggleSideNav)="sidenav.toggle()"></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

    <div (click)="scrollToTop()" class="scroll-to-top" *ngIf="showScrollToTop">
      <div class="icon" inlineSVG="/assets/up-arrow.svg"></div>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>


<!--<mat-sidenav-container>-->
  <!--<mat-sidenav #sidenav>-->
    <!--<div class="mobile-header">-->
      <!--<fa-icon [icon]="['fas', 'times']" class="app-icon"-->
               <!--(click)="sidenav.toggle()"></fa-icon>-->
    <!--</div>-->

    <!--<div class="sidenav-options" (click)="sidenav.close()">-->
      <!--<a routerLink="/"><button mat-button class="sidenav-option">Home</button></a>-->
      <!--<a routerLink="/resume"><button mat-button class="sidenav-option">Resume</button></a>-->
      <!--<a routerLink="/projects"><button mat-button class="sidenav-option">Projects</button></a>-->
      <!--<a routerLink="/about"><button mat-button class="sidenav-option">About Me</button></a>-->
      <!--<a routerLink="/contact"><button mat-button class="sidenav-option">Contact</button></a>-->
    <!--</div>-->
  <!--</mat-sidenav>-->

  <!--<mat-sidenav-content>-->
    <!--<div fxHide.gt-xs class="mobile-header" (click)="sidenav.toggle()">-->
      <!--<fa-icon [icon]="['fas', 'bars']" class="app-icon"></fa-icon>-->
    <!--</div>-->

    <!--<div [ngClass]="{'hidden': !showScrollButton}" class="app-icon scroll-to-top" (click)="scrollToTop()">-->
      <!--<fa-icon [icon]="['fas', 'angle-double-up']"></fa-icon>-->
    <!--</div>-->

    <!--<router-outlet></router-outlet>-->
  <!--</mat-sidenav-content>-->

<!--</mat-sidenav-container>-->

