@import "variables";

mat-sidenav {
  width: 100vw;
  height: 100vh;
  background: $c-dark-gray;
  transition: 0.2s all;
  color: $c-white;

  a {
    font-family: 'Montserrat', sans-serif;
    color: $c-white;
    text-decoration: none;
  }
}

.mat-drawer {
  transform: translate3d(100%, 0, 0);
}

.nav {
  padding-left: 20%;
  padding-top: 50px;

  .active {
    color: $c-accent;
  }
}

.nav-close {
  height: 65px;
  padding: 15px;
}

.icon::ng-deep svg {
  display: block;
  width: 1.5em;
  height: auto;
  color: $c-white;
  fill: $c-white;
}

.mat-drawer-container {
  color: unset;
  background: unset;
}

.mat-drawer-content {
  overflow: hidden;
}

#scroll-to-top-detector {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  opacity: .5;
  cursor: pointer;

  ::ng-deep svg {
    width: 2.5em;
    fill: $c-accent;
  }
}
