@import "~normalize.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

ngx-slick-carousel {
  .slick-arrow {
    font-size: 30px;
    width: 1em;
  }

  .slick-arrow::before {
    color: red;
    font-size: inherit;
  }

  .slick-prev {
    left: -1.25em;
  }

  .slick-next {
    right: -1.25em;
  }
}

html {
  font-family: 'Helvetica', sans-serif;
}
