<div class="banner">
  <div class="banner-content">
    <h1>SERVING AMERICAN PUB STYLE FOOD</h1>

    <button class="btn">CALL NOW</button>
    <button class="btn">ORDER WITH DOORDASH</button>
  </div>
</div>

<div class="menu hide-scroll" ngClass.xs="xs">
  <ng-container *ngFor="let category of CATEGORIES">
    <div [class.selected]="selectedCategory === category">
      <div [inlineSVG]="category.icon" class="menu-option" (click)="selectCategory(category)"></div>
      <div class="menu-label">{{category.name}}</div>
    </div>
  </ng-container>
  <div style="width:0; visibility: hidden">hi</div>
</div>

<div class="section" ngClass.xs="xs"
     gdRows="max-content!" gdColumns="1fr 1fr" gdGap="6vw" gdColumns.xs="1fr">
  <div *ngFor="let food of menuItems"
       fxLayout="row"
  >
    <div class="food-img"></div>
    <div>
      <div fxLayout fxLayoutGap="1em" class="food-title">
        <div>{{food.name}}</div>
        <div fxFlex="1 0 5em" class="food-dot-separator"></div>
        <div>{{food.price | currency:'USD':'symbol':'1.0-2'}}</div>
      </div>
      <div class="food-desc">{{food.desc}}</div>
    </div>
  </div>

</div>
