.banner {
  background-image: url('https://images.squarespace-cdn.com/content/v1/573266db20c647896b5aaa45/1462925897569-X90E4W3TKHB1PLFZMI4O/ke17ZwdGBToddI8pDm48kPmLlvCIXgndBxNq9fzeZb1Zw-zPPgdn4jUwVcJE1ZvWRBizNpWTGFgrpiRV_00eX3VwxMIOEK7mu3DMnwqv-Nsp2ryTI0HqTOaaUohrI8PIJHwQ_mvadvvhLgfYN7DtPDwNniYJh6KkixVZqmTTrGQKMshLAGzx4R3EDFOm1kBS/Filet+Mignon+Bordelaise.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;

  .banner-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    background-image: linear-gradient(to bottom right,#002f4b, #1a191f);
    opacity: .8;
  }

  h1, h3 {
    color: white;
  }
}

h1 {
  font-size: 64px;
}

.logo {
  height: 200px;
}

.section {
  width: 100vw;
  padding: 0 5vw 5vw;

  &.xs {
    padding: 5vw 5vw;
  }
}

.food-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.food-desc {
  font-style: italic;
  color: #a9a9a9;
}

.food-dot-separator {
  border-top: 2px dotted red;
  margin-top: 1em;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1em;
  justify-content: center;
  padding: 5vw;
  //padding: 10vh 10vw;

  &.xs {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;

    & > *:first-child {
      //margin-left: 5vw;
    }

    & > *:last-child {
      margin-right: 5vw;
    }
  }

  & > * {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.menu-label {
  text-align: center;
  font-size: 12px;
  margin-top: .5em;
}

.menu-option {

  padding: .75em;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: #a9a9a9;
  stroke: #a9a9a9 !important;;
  color: #a9a9a9;
  background: #eaeaea;

  cursor: pointer;

  &:hover, .selected & {
    fill: #eaeaea;
    stroke: #eaeaea !important;
    color: #eaeaea;
    background: #a9a9a9;
  }

  ::ng-deep svg {
    display: block;
    width: 2.5em;
    height: auto;
  }
}
