@import "variables";
@import "mixins";

.banner {
  background-image: url('https://images.squarespace-cdn.com/content/v1/573266db20c647896b5aaa45/1462925897569-X90E4W3TKHB1PLFZMI4O/ke17ZwdGBToddI8pDm48kPmLlvCIXgndBxNq9fzeZb1Zw-zPPgdn4jUwVcJE1ZvWRBizNpWTGFgrpiRV_00eX3VwxMIOEK7mu3DMnwqv-Nsp2ryTI0HqTOaaUohrI8PIJHwQ_mvadvvhLgfYN7DtPDwNniYJh6KkixVZqmTTrGQKMshLAGzx4R3EDFOm1kBS/Filet+Mignon+Bordelaise.jpg');
}

.logo {
  height: 200px;
}

.food-items {
  padding: 0 5vw 5vw;
  max-width: 1400px;
  margin: 0 auto;

  &.xs {
    padding: 5vw 5vw;
  }
}

.food-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.food-desc {
  font-style: italic;
  color: #a9a9a9;
}

.food-dot-separator {
  border-top: 2px dotted $c-accent;
  margin-top: 1em;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1em;
  justify-content: center;
  padding: 5vw;

  position: relative;

  &.xs {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  & > * {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.menu-label {
  text-align: center;
  font-size: 12px;
  margin-top: .5em;
  font-family: Montserrat, sans-serif;
}

.menu-option {
  padding: .75em;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: $c-dark-gray;
  color: $c-dark-gray;
  background: $c-light-gray;

  cursor: pointer;

  &:hover, .selected & {
    fill: $c-light-gray;
    color: $c-light-gray;
    background: $c-dark-gray;
  }

  ::ng-deep svg {
    display: block;
    width: 2.5em;
    height: auto;
  }
}

.menu-scroll-anchor {
  position: absolute;
  top: -55px; // offsets the navbar's height, as it uses position: fixed
}

.btn-link {
  min-width: 289px;
}

.wing-prices {
  text-align: center;
  font-size: 20px;
  margin-bottom: 4vw;
  color: $c-accent;
}

.wine-header {
  text-align: center;
}

.food-img {
  margin-right: 1em;

  @media (max-width: $xs) {
    margin-right: 5px;
  }
}

.beer-filters {
  padding: 0 10px 10px;
}

.beer-filter {
  $radius: 20px;
  min-width: 0;

  &:hover:not(.btn-active) {
    background: initial;
    color: $c-accent;
  }

  &:first-child {
    border-radius: $radius 0 0 $radius;
  }

  &:last-child {
    border-radius: 0 $radius $radius 0;
  }
}
