.banner {
  background-image: url('https://images.squarespace-cdn.com/content/v1/573266db20c647896b5aaa45/1462925897569-X90E4W3TKHB1PLFZMI4O/ke17ZwdGBToddI8pDm48kPmLlvCIXgndBxNq9fzeZb1Zw-zPPgdn4jUwVcJE1ZvWRBizNpWTGFgrpiRV_00eX3VwxMIOEK7mu3DMnwqv-Nsp2ryTI0HqTOaaUohrI8PIJHwQ_mvadvvhLgfYN7DtPDwNniYJh6KkixVZqmTTrGQKMshLAGzx4R3EDFOm1kBS/Filet+Mignon+Bordelaise.jpg');
}

.logo {
  height: 200px;
}

.food-items {
  padding: 0 5vw 5vw;
  max-width: 1400px;
  margin: 0 auto;

  &.xs {
    padding: 5vw 5vw;
  }
}

.food-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.food-desc {
  font-style: italic;
  color: #a9a9a9;
}

.food-dot-separator {
  border-top: 2px dotted red;
  margin-top: 1em;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1em;
  justify-content: center;
  padding: 5vw;

  &.xs {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  & > * {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.menu-label {
  text-align: center;
  font-size: 12px;
  margin-top: .5em;
}

.menu-option {
  padding: .75em;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: #a9a9a9;
  color: #a9a9a9;
  background: #eaeaea;

  cursor: pointer;

  &:hover, .selected & {
    fill: #eaeaea;
    color: #eaeaea;
    background: #a9a9a9;
  }

  ::ng-deep svg {
    display: block;
    width: 2.5em;
    height: auto;
  }
}

.btn-link {
  min-width: 289px;
}

