<div class="banner">
  <div class="banner-content"><h1>WELCOME TO</h1>

    <img class="logo" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/1f/60/5c/polo-s-bar-grill.jpg">

    <h3>Owned & operated by the Polo family</h3>

    <button class="btn">SEE OUR MENU</button>
    <button class="btn">CALL NOW</button>
    <button class="btn">ORDER WITH DOORDASH</button>
  </div>
</div>
<div class="food-preview">
  <h1>SERVING AMERICAN PUB STYLE FOOD</h1>
  <div class="food-carousel">
    <ngx-slick-carousel class="carousel carousel-top"
                        #slickModal="slick-carousel"
                        [config]="topSlideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img [src]="slide.img" alt="" width="100%">
      </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel class="carousel carousel-btm"
                        #slickModal="slick-carousel"
                        [config]="btmSlideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img [src]="slide.img" alt="" width="100%">
      </div>
    </ngx-slick-carousel>
  </div>

  <button class="btn" style="margin-top: 5vh">VIEW FULL MENU</button>

</div>
