<div class="banner">
  <div class="banner-content">
    <h1>WELCOME TO</h1>

    <img class="logo" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/1f/60/5c/polo-s-bar-grill.jpg">

    <h3>Owned & operated by the Polo family</h3>

    <div fxLayout fxLayoutAlign="center" fxLayoutGap="5vw">
      <button class="btn">SEE OUR MENU</button>
      <button class="btn">CALL NOW</button>

      <a
        href="https://www.doordash.com/business/253695/?utm_source=partner-link&utm_medium=website&utm_campaign=253695&utm_content=red-l"
        target="_blank" alt="Order Food Delivery with DoorDash" title="Order Food Delivery with DoorDash"
        style="text-decoration: none">
        <div
          style="position: relative; width:289px; height:59px; margin: 0px auto; background-image: url(https://cdn.doordash.com/media/button/button_red_l.svg); color:transparent">
          Order Food Delivery with DoorDash
        </div>
      </a>
    </div>
  </div>
</div>
<div class="food-preview section">
  <h1>SERVING AMERICAN PUB STYLE FOOD</h1>
  <div class="food-carousel">
    <ngx-slick-carousel class="carousel carousel-top"
                        #slickModal="slick-carousel"
                        [config]="topSlideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img [src]="slide.img" alt="" width="100%">
      </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel class="carousel carousel-btm"
                        #slickModal="slick-carousel"
                        [config]="btmSlideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img [src]="slide.img" alt="" width="100%">
      </div>
    </ngx-slick-carousel>
  </div>

  <div style="margin-top: 5vh">
    <button class="btn">VIEW FULL MENU</button>
  </div>
</div>

<div class="section" fxLayout="column" fxLayoutGap="50px">
  <h1>OPEN FOR OUTDOOR DINING, AND...</h1>

  <div fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
    <div fxFlex>
      <h2>TAKEOUT & DELIVERY</h2>
      <p>Curb-Side Pick-Up, call in your order when you arrive in the parking lot we will bring the order out to
        you.</p>
      <p>Delivery Service delivered directly through us (up to a 10 mile radius with a 10% surcharge) Please indicate if
        you would like *No-Contact Delivery*</p>
      <p>DoorDash Delivery, the link to order is listed at the top of this page. They offer *No-Contact Delivery*</p>
    </div>
    <div fxFlex>
      <img style="max-width: 100%"
           src="https://www.arlingtonmagazine.com/content/uploads/2020/03/GettyImages-1148553656.jpg">
    </div>
  </div>

  <div fxLayout="row-reverse" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div fxFlex>
      <h2>CATERING & COCKTAILS</h2>

      <p>Catered family style trays available for Pick-Up & Delivery. Please call for catering menu.</p>
      <p>Package Goods & Cocktails are available for Pick-Up & Delivery. (For Delivery of Alcohol, orders must be
        pre-paid over the phone and ID Required upon delivery)</p>
      <p>Growlers (64oz & 32oz) of our Draft Beer & Sangria available.</p>
    </div>
    <div fxFlex>
      <img style="max-width: 100%"
           src="https://images.pexels.com/photos/989699/pexels-photo-989699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
  </div>

</div>

<div class="banner banner-drink">
  <div class="banner-content">
    <h1>Fancy a drink?</h1>

    <h3>Try one of our signature cocktails, draft beer, or premium wines.</h3>

    <button class="btn">SEE DRINK MENU</button>
  </div>
</div>
