.banner {
  background: url('https://images.squarespace-cdn.com/content/v1/573266db20c647896b5aaa45/1464961623909-PW2XB9J7SS8RJ6GZ3BV4/ke17ZwdGBToddI8pDm48kH1NQ-tiBxvsxQhVbPl7Iw97gQa3H78H3Y0txjaiv_0foACs49-HBkG_F4C3fTziO-wh7WAJ8x5TfmquXBnDIxJmCbKs1hhYDmfu9Qj4fD3KrCLSIWAQvdC7iWmC9HNtRVCvyAd1-5UQFnp8aARaJsU6YuzgbOenKvmxCQGnwKUCQmR8DmlDvqfGzO3LCXkWbw/DSC_1339.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;

  .banner-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    background-image: linear-gradient(to bottom right,#002f4b, #1a191f);
    opacity: .8;
  }

  h1, h3 {
    color: white;
  }
}

h1 {
  font-size: 64px;
}

.logo {
  height: 200px;
}

.btn {
  border: 2px solid black;
  outline: 0;
  background: white;
  padding: 1em;
}

.food-preview {
  height: 100vh;
  width: 100vw;
  padding: 10vh 10vw;
  text-align: center;
}
